<template>
  <div 
    class="bg-primary-600 left-0 shadow row-span-11
           h-full flex flex-col transition-all"
  >
    <!-- Profile -->
    <BaseCard
      class="m-2 md:m-3 h-12 p-1 flex flex-row items-center"
      color="primary-100"
    >
      <img
        src="@/assets/profile-placeholder.jpg"
        class="h-10 w-10 bg-white rounded-full"
      />
      <div class="w-full px-2 hidden md:flex flex-wrap content-center ">
        <p class="text-sm w-full mx-2 border-b border-black font-bold">John Doe Not</p>
        <p class="text-xs w-full font-medium">Human Resource</p>
      </div>
    </BaseCard>

    <!-- Options -->
    <ol class="mx-2 mt-5">
      <SideNavItems
        v-for="item in items"
        :key="item.title"
        :title="item.title"
        :icon="item.icon"
        :active=" $route.path === item.url"
        @click="$router.push(item.url)"
      ></SideNavItems>
    </ol>
  </div>
</template>

<script>
import BaseCard from "@/components/base/BaseCard.vue"
import SideNavItems from './SideNavItems.vue'

export default 
{
  components: { BaseCard, SideNavItems },
  
  data :()=> ({
    items: [
      {
        title: 'Dashboard',
        icon: 'pi-home',
        url: '/dashboard'
      },
      {
        title: 'Profile',
        icon: 'pi-user',
        url: '/profile'
      },
      {
        title: 'Messages',
        icon: 'pi-comment',
        url: '/mail'
      },
    ]
  }),
}
</script>

<style lang="scss" scoped>

</style>