<template>
  <li class="my-3">
    <button 
      class="w-full rounded-xl py-3 px-4 flex items-center focus:outline-none transition-colors"
      :class="{
        'text-primary-50 hover:text-primary-200': !active,
        'bg-primary-200': active
      }"
    >
      <i :class="`pi ${icon}`"></i>
      <p class="ml-4 hidden md:block">{{ title }}</p>
    </button>
  </li>
</template>

<script>
export default {
  props: {
    active: Boolean,
    title: String,
    icon: String
  },
  setup () {
    return {}
  }
}
</script>

<style lang="scss" scoped>

</style>