<template>
  <BaseCard
    hoverable 
    title="Attendance"
    color="green"
    class="text-left shadow-md"
  >
    <div class="p-6 h-full">
        <p class="text-center flex flex-col text-lg mb-1 font-bold text-green-500">April</p>
        <table class="w-full h-full text-center mb-10">
          <thead class="border-b">
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
          </thead>

          <tbody class="font-bold">
            <!-- Week 1 -->
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-green-500">1</td>
              <td class="text-green-500">2</td>
              <td class="text-gray-300">3</td>
            </tr>
            <!-- Week 2 -->
            <tr>
              <td class="text-gray-300">4</td>
              <td class="text-green-500">5</td>
              <td class="text-green-500">6</td>
              <td class="text-green-500">7</td>
              <td class="text-red-500">8</td>
              <td class="text-green-500">9</td>
              <td class="text-gray-300">10</td>
            </tr>
            <!-- Week 3 -->
            <tr>
              <td class="text-gray-300">11</td>
              <td class="text-red-500">12</td>
              <td class="text-red-500">13</td>
              <td class="text-green-500">14</td>
              <td>15</td>
              <td>16</td>
              <td class="text-gray-300">17</td>
            </tr>
            <!-- Week 4 -->
            <tr>
              <td class="text-gray-300">18</td>
              <td>19</td>
              <td>20</td>
              <td>21</td>
              <td>22</td>
              <td>23</td>
              <td class="text-gray-300">24</td>
            </tr>
            <!-- Week 5 -->
            <tr>
              <td class="text-gray-300">26</td>
              <td>27</td>
              <td>28</td>
              <td>29</td>
              <td>30</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
    </div>
  </BaseCard>
</template>

<script>
// import { Calendar } from 'v-calendar';
import BaseCard from '../../components/base/BaseCard.vue'
  export default {
  components: { BaseCard },
    
  }
</script>

<style lang="scss" scoped>

</style>