<template>
  <div class="grid grid-cols-4 md:grid-cols-6 lg:grid-cols-12 gap-6">
    
    <div class="col-span-6 md:col-span-4 lg:col-span-9 text-left text-2xl font-medium p-3 text-primary-900">
      Welcome John Doe Not...
    </div>

    <BaseCard
      hoverable 
      color="yellow"
      class="col-span-6  md:col-span-2 lg:col-span-3 text-left shadow-md max-h-40 flex flex-row"
    >
      <div class="bg-yellow-500 p-2 flex flex-wrap justify-center content-center">      
        <p class="text-center text-white font-bold text-lg">TIME: </p>
      </div>
      <div class="bg-yellow-50 w-full flex flex-wrap justify-center content-center">      
        <p class="text-yellow-500 text-xl text-center uppercase font-bold">12:20 pm</p>
      </div>
    </BaseCard>


    <!-- Messages -->
    <MessageCard class="col-span-6"></MessageCard>
    
    <!-- Attendance -->
    <AttendanceCard class="col-span-6"></AttendanceCard>

    
  </div>
</template>

<script>
import BaseCard from '../../components/base/BaseCard.vue'
import AttendanceCard from './AttendanceCard.vue'
import MessageCard from './MessageCard.vue'
export default {
  components: { BaseCard, MessageCard, AttendanceCard },
  // components: { LayoutUser },
  setup () {    

    return {}
  }
}
</script>

<style lang="scss" scoped>

</style>