<template>
  <BaseCard
    hoverable 
    title="Message"
    color="primary"
    class="text-left shadow-md"
  >
    <!-- Title -->
    <!-- <p class="bg-primary-500 text-white px-2 uppercase font-medium text-lg mb-2">Message</p> -->
    <!-- Content -->
    <div class="overflow-auto max-h-60 p-4">
      <!-- One message  -->
      <div class="text-sm flex flex-wrap flex-row shadow p-2 my-1 hover:bg-gray-100 transition-colors cursor-pointer" v-for="test in 20" :key="test">
        <!-- Name -->
        <p class="font-bold">James Smith</p>
        <!-- Day -->
        <p class="ml-auto text-xs text-gray-400">07/12/2001</p>
        <!-- Title -->
        <p class="w-full border-t">Yo man! Check this out...</p>
      </div>
    </div>
  </BaseCard>
</template>

<script>
import BaseCard from '../../components/base/BaseCard.vue'
  export default {
  components: { BaseCard },
    
  }
</script>

<style lang="scss" scoped>

</style>