<template>
  <div class="bg-blue-200 h-full w-full grid grid-cols-user-small md:grid-cols-user grid-rows-12">
    <div class="bg-green-100 col-span-12">
    </div>
    <div class="bg-red-100 row-span-11 transition-all">
      asdasd
    </div>
    <div class="bg-gray-200 row-span-11 col-span-11"></div>
  </div>
</template>

<script>
  export default {
    
  }
</script>

<style lang="scss" scoped>

</style>