<template>
  <div class="h-full bg-gray-300 grid grid-cols-user-small md:grid-cols-user grid-rows-user">
    <!-- Header -->
    <BaseHeader></BaseHeader>
    <!-- Side Navigation -->
    <BaseSideNav></BaseSideNav>
    
    <!-- Main Content -->
    <div class="bg-gray-100 col-span-11 row-span-11 p-3 overflow-auto">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import BaseHeader from '../../components/base/BaseHeader.vue'
import BaseSideNav from '../../components/base/BaseSideNav/index.vue'
export default {
  components: { BaseHeader, BaseSideNav },
  setup () {    

    return {}
  }
}
</script>

<style lang="scss" scoped>

</style>