<template>
  <div
    class="rounded overflow-hidden"
    :class="
    [
      ...clickable ? [
        `bg-${color}-500`,
        `hover:bg-${color}-400`,
        `active:bg-${color}-600`
      ]:
      title ? 
      [
        'bg-white'
      ] :
      [
        `bg-${color}`
      ],
      ...hoverable ? 
      [
        `relative hover:-inset-y-0.5 group`  
      ]:[]
    ]
    "
  >
    <!-- Title -->
    <p v-if="title"
      class="bg-primary-500 uppercase font-medium text-lg py-1 px-2"
      :class="[ 
        `bg-${rawColor}-500`,
        hoverable ? `group-hover:bg-${rawColor}-400` : '', 
        color.includes('white') ? 'text-black' : 'text-white'
      ]"
    >
      {{ title }}
    </p>
    <!-- Content -->
    <slot></slot>
    
  </div>
</template>

<script>
import { ref, toRefs } from 'vue'
  export default {
    props: {
      title: {
        type: String,
        default: null
      },
      color: {
        type: String,
        default: 'white',
      },
      clickable: {
        type: Boolean,
        default: false
      },
      hoverable: {
        type: Boolean,
        default: false
      }
    },
    setup(props) {
      const { color } = toRefs(props)
      // console.log(toRefs(props.color))
      const rawColor = ref( (color.value.indexOf('-') >= 0 ) ? color.value.substr(0, color.value.indexOf('-')) : color.value )
      return { rawColor }
    }
  }
</script>

<style lang="scss" scoped>

</style>