<template>
  <div class="bg-white w-full flex col-span-12">
      <div class="flex flex-wrap content-center ml-5 w-10">
        <img
          src="@/assets/logo.png"
          alt="logo"
        >
      </div>
      <!-- Logout Button -->
      <div class="flex flex-wrap content-center ml-auto mr-5">
        <BaseButton
          color="gray"
          size="xs"
        >
          <p class="pi pi-power-off"></p>
          <span class="ml-2">Logout</span>
        </BaseButton>
      </div>
  </div>
</template>

<script>
import BaseButton from './BaseButton.vue'
export default {
  components: { BaseButton },
  setup () {
    

    return {}
  }
}
</script>

<style lang="scss" scoped>

</style>