<template>
  <!-- Container -->
  <div
    class="focus-within:text-primary mx-1 my-2"
    :class="{'text-red-700 focus-within:text-red-500': error}"
  >
    <!-- Label -->
    <label class="block text-left text-xs mb-1 transition-colors">{{ label }}</label>
    <!-- Input Field -->
    <input
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
      class="bg-gray-200 focus:bg-gray-100 bg-opacity-40 
             border-black focus:border-primary border-solid border-b-2 
             text-gray-700 w-full rounded-t p-2 transition-colors outline-none"
      :class="{ 'border-red-700 focus:border-red-500': error }"
      v-bind="$attrs"
    >
    <!-- Message -->
    <transition name="error">
      <p v-if="error" class="text-left text-xs">{{ (typeof error ==='string')?error:null}}</p>
    </transition>

  </div>
</template>

<script>
export default {
  props: {
    modelValue: {
      type: [String, Number],
      default: null
    },
    label: {
      type: String,
      default: null,
    },
    error: {
      type: [ String, Boolean],
      default: false,
    }
  },
  setup () {
    return {}
  },
  mounted() {
    // console.log(this.$attrs)
  }
}
</script>

<style scoped>
/* Error enter/leave transition css */
.error-enter-active,
.error-leave-active {
  transition: opacity, margin 0.1s ease;
}
.error-enter-from,
.error-leave-to {
  opacity: 0;
  margin-top: -5px;
}
</style>