<template>
  <button
    class="text-gray-100 uppercase
           p-2 rounded transition-colors outline-none shadow"
    :class="[
      'text-' + size,
      `bg-${color}-500`,
      `hover:bg-${color}-400`,
      `active:bg-${color}-600`,
      {
        'bg-gray-500 text-gray-400' : ($attrs.disabled === '' || !!$attrs.disabled),
      }
    ]"
    :disabled="loading"
    v-bind="$attr"
    @click="onClick"
  >
    <slot v-if="!loading"></slot>
    <!-- Loading -->
    <div class="w-1/2 mx-auto" v-else>
      <i class="pi pi-spin pi-spinner"></i>
    </div>
  </button>
</template>

<script>
import { ref } from 'vue'
export default {
  components: {  },
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
    size: {
      type: String,
      default: 'md'
    },
    color: {
      type: String,
      default: 'primary'
    }
  },  
  setup (props) {
    // click animation
    const clicked = ref(false)
    const onClick = ()=> {
      if (!props.loading) {
        clicked.value = true
        setTimeout( ()=> {
          clicked.value = false
          console.log(clicked)
        }, 120)
      }
    }
    // console.log(this.$attrs)
    
    return { onClick, clicked}
  },

  mounted() {
    console.log(this.$attrs.disabled)
  }
}
</script>

<style lang="scss" scoped>
</style>