<template>
  <!-- <LayoutUser></LayoutUser> -->
  <div class="grid grid-cols-5 gap-3">

    
    <BaseCard class="col-span-5 md:col-span-2 shadow max-h-80">
      <img
        src="@/assets/profile-placeholder.jpg"
        class="mx-auto my-2 w-6/12 bg-white rounded-full"
      />
      <div class="border-t m-4 grid grid-cols-1 md:grid-cols-2">
        <div class="my-3">
          <p class="uppercase text-sm text-gray-500">Id:</p>
          <p class="text-lg font-medium ">12340</p>
        </div>
        <div class="my-3">
          <p class="uppercase text-sm text-gray-500">Username:</p>
          <p class="text-lg font-medium">user</p>
        </div>
      </div>
    </BaseCard>

    <BaseCard class="col-span-5 md:col-span-3 shadow p-5 text-left">
      <p class="text-xl text-primary-600 font-medium border-b mb-5 text-center">
        Personal Information
      </p>
      <!-- Name -->
      <div class="grid grid-cols-1 md:grid-cols-3">
        <div class="my-3">
          <p class="uppercase text-xs text-gray-500">First Name:</p>
          <p class="text-lg font-medium ">John</p>
        </div>
        <div class="my-3">
          <p class="uppercase text-xs text-gray-500">Middle Name:</p>
          <p class="text-lg font-medium ">Doe</p>
        </div>
        <div class="my-3">
          <p class="uppercase text-xs text-gray-500">Last Name:</p>
          <p class="text-lg font-medium ">Not</p>
        </div>
      </div>

      <!-- Age and Gender -->
      <div class="grid grid-cols-2 md:grid-cols-3 mt-5">
        
        <div class="my-3">
          <p class="uppercase text-xs text-gray-500">Age:</p>
          <p class="text-lg font-medium ">30</p>
        </div>
        <div class="my-3">
          <p class="uppercase text-xs text-gray-500">Gender:</p>
          <p class="text-lg font-medium ">Male</p>
        </div>
      </div>
      <!-- Contacts -->
      <div class="grid grid-cols-1 md:grid-cols-3 mt-5">
        <div class="my-3">
          <p class="uppercase text-xs text-gray-500">Contact Number:</p>
          <p class="text-lg font-medium ">09292929339</p>
        </div>

        <div class="my-3 col-span-2">
          <p class="uppercase text-xs text-gray-500">Email:</p>
          <p class="text-lg font-medium ">johndoe5656@email.com</p>          
        </div>
      </div>

      <div class="grid grid-cols-1">
        <div class="my-3">
          <p class="uppercase text-xs text-gray-500">Address:</p>
          <p class="text-lg font-medium ">
            2123 Blk 0 Carmona Street, Magsaysay, Rizal  
          </p>          
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-3 mt-5">
        <div class="my-3">
          <p class="uppercase text-xs text-gray-500">Position:</p>
          <p class="text-lg font-medium ">Human Resource</p>          
        </div>

        <div class="my-3 col-span-2">
          <p class="uppercase text-xs text-gray-500">Deployed at:</p>
          <p class="text-lg font-medium ">Magsaysay Branch</p>          
        </div>
      </div>
    </BaseCard>

  </div>
</template>

<script>
import BaseCard from '../../components/base/BaseCard.vue'
// import LayoutUser from '../../components/layout/LayoutUser.vue'
export default {
  components: { BaseCard },
  // components: { LayoutUser },
  setup () {
    

    return {}
  }
}
</script>

<style lang="scss" scoped>

</style>