<template>
  <div class="bg-cyan-900 h-screen font-sans">
    <component :is="layout">
      <transition name="redirect">
        <router-view/>
      </transition>
    </component>
    <!-- <LayoutUser></LayoutUser> -->
    <!-- <p>{{layout}}</p> -->
  </div>
  
</template>

<script>
import { computed } from 'vue'
import { useRoute } from 'vue-router'
import LayoutUser from '@/components/layouts/LayoutUser.vue'
import LayoutTest from '@/components/layouts/LayoutTest.vue'
export default {
  components: { LayoutUser, LayoutTest },

  setup() {
    const route = useRoute()
    const layout = computed( ()=>{
        if (route.meta.layout) {
          return 'Layout' + route.meta.layout
        }
        else {
          return 'LayoutDefault'
        }
    })

    return { layout }
  },
}
</script>

<style>
#app {
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

/* Error enter/leave transition css */
.redirect-enter-active,
.redirect-leave-active {
  transition: opacity 0.3s ease-in-out;
}
.redirect-enter-from,
.redirect-leave-to {
  opacity: 0;
  /* margin-top: -5px; */
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
</style>
