<template>
  <!-- Main Container -->
  <div
    class="bg-login bg-cover bg-center h-full flex flex-wrap content-center justify-center"
  >
    <!-- Inner Container -->
    <div class="h-3/4 w-full max-w-screen-sm flex rounded-2xl overflow-hidden shadow-lg m-2">
      <!-- Login Container -->
      <div class="h-full w-full md:w-1/2 bg-gray-200 bg-opacity-90">
        <LoginForm></LoginForm>
      </div>
      <!-- Logo Container -->
      <div class="login-half bg-opacity-50 bg-gray-200 px-3 py-2 hidden md:flex flex-wrap content-center justify-center">
        <img src="@/assets/logo.png" width="200" class="bg-gray-200 shadow-lg rounded-full p-3">
      </div>
    </div>
  </div>
</template>

<script>
import LoginForm from './LoginForm.vue'

export default {
  components: { LoginForm },
  setup () {
    return {}
  }
}
</script>

<style scoped>
 .login-half {
   @apply h-full;
   @apply w-1/2;
 }
</style>