<template>
  <div class="group px-5 h-full flex flex-wrap content-center justify-center">
    <p class="truncate text-3xl uppercase text-primary-dark group-hover:text-primary transition-all duration-100 ease-in-out mb-7">
    <span class="inline-block overflow-hidden w-0 group-hover:w-full transition-all">Login</span>
    <span class="inline-block overflow-hidden w-full group-hover:w-0 transition-all">Welcome User</span>
    </p>
    <!-- Username Field-->
    <BaseInput
      v-model="username.val"
      class="w-full"
      label="USERNAME"
      :error="username.err"
    ></BaseInput>
    
    <!-- Password Field -->
    <BaseInput
      v-model="password.val"
      class="w-full"
      label="PASSWORD"
      type="password"
      :error="password.err"
    ></BaseInput>

    <!-- <h1>Username: {{ username }}</h1> -->
    <BaseButton
      class="w-full mt-6 text-lg"
      :disabled="has_error"
      :loading="loading"
      @click="authenticateCredentials"
    >
      Enter
    </BaseButton>
    <p class="text-red-600 text-xs pt-5">{{ main_error }}</p>
  </div>
</template>

<script>
import { ref, watch } from 'vue'
import router from '@/router'
import BaseButton from '@/components/base/BaseButton.vue'
import BaseInput from '@/components/base/BaseInput.vue'

export default {
  components: { BaseInput, BaseButton },
  
  setup () {
    const login = loginLogic()
    return {...login, }
  }
}



/** Login Block */
function loginLogic() {

  // Inputs
  const username = ref({
    val: null,
    err: null
  });
  const password = ref({
    val: null,
    err: null
  });

  // Error Handler
  const has_error = ref(false)
  const main_error = ref('')
  // Reusable Error handler funct
  function errorHandler(value, label) {
    var error = null
    if (value !== null) {
      has_error.value = true
      if (!value) {
        error = `${label} can't be empty`
      }
      else if (value.length < 2) {
        error = `${label} must be atleast 2 characters long`
      }
      else {
        error = null
        has_error.value = false
      }
    }
    return error
  }
  // Error watcher
  watch(()=> {
    main_error.value = '' 
    username.value.err = errorHandler(username.value.val, 'Username')
    password.value.err = errorHandler(password.value.val, 'Password')
  })

  // On click function
  const loading = ref(false)
  function authenticateCredentials() {
    loading.value = true
    if (username.value.val === 'user' && password.value.val === 'pass') {
      setTimeout(()=>{
        router.push({ name: 'Dashboard' })
        loading.value = false
      }, 2000)
    }
    else {
      loading.value = false
      main_error.value = 'Incorrect username/password'
    }
  }

  // Login Return Values
  return {username, password, has_error, main_error, authenticateCredentials, loading}
}
</script>

<style lang="scss" scoped>
</style>